<div id="container">
    <p>
        Note: This only works for modpacks from Curseforge, for custom modpacks contact me directly. Modrinth
        modpacks work differently but will be worked on.
    </p>
    <div class="instance-input-field">
        <label for="instance-name">Name</label>
        <input type="text" name="instance-name" id="instance-name" placeholder="Instance/Modpack name">
    </div>
    <div class="instance-input-field" style="margin-bottom: 2px">
        <label for="mod-pack-url">Pack URL</label>
        <input type="text" name="mod-pack-url" id="modpack" placeholder="Download link">
    </div>
    <div id="example-link" style="margin-bottom: 1rem">
        Example link: https://www.curseforge.com/minecraft/modpacks/rlcraft/download/4612979
    </div>
    <div class="instance-input-field version">
        <label for="modloader">Modloader</label>
        <select name="modloader" id="modloader"></select>
    </div>
    <div class="instance-input-field version">
        <label for="mc-version">Game Version</label>
        <select name="mc-version" id="version"></select>
    </div>
    <div class="new-instance-btns">
        <button id="new-instance-cancel">Cancel</button>
        <button id="new-instance-create">Create</button>
    </div>
</div>