<div id="container">
    <p>
        Note: This only works for modpacks from Curseforge, for custom modpacks contact me directly. Modrinth
        modpacks work differently but will be worked on.
    </p>
    <div class="instance-input-field">
        <label for="instance-name">Name</label>
        <input type="text" id="instance-name" placeholder="Instance/Modpack name">
    </div>
    <div class="instance-input-field" style="margin-bottom: 2px">
        <label for="modpack-id">Pack ID</label>
        <input type="text" id="modpack-id" placeholder="Modpack ID">
    </div>
    <div id="example-link" style="margin-bottom: 1rem">
        Example ID: RLCraft - 285109
    </div>
    <div class="instance-input-field version">
        <label for="modloader">Modloader</label>
        <select id="modloader"></select>
    </div>
    <div class="instance-input-field version">
        <label for="version">Game Version</label>
        <select id="version"></select>
    </div>
    <div class="new-instance-btns">
        <button id="new-instance-cancel">Cancel</button>
        <button id="new-instance-create">Create</button>
    </div>
</div>